<div class="dialog" id="dialog">
	<form action="">
		<input type="hidden" id="dialactionpath" value="<%= project_work_breakdown_structures_path(Project.find(params[:id])) %>/"/>
		<div class="dialog-content" id="dialcontent">

		</div>
	</form>
</div>