<div class="row">
  <div class="col-md-6">
    <h2>Projektstruktur</h2>
    <% if can? :manage, @project => ProductBreakdownStructure %>
      <a class="btn btn-primary btn-sm show_form">Neue Projektstruktur</a>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render "product_breakdown_structures/nestable" %>
  </div>
  <div class="col-md-6">
    <div id="pbs_show">
      <%= render "product_breakdown_structures/show" %>
    </div>
    <div id="pbs_form">
      <%= render "product_breakdown_structures/form" %>
    </div>
  </div>
</div>