<div class="row">
  <div class="col-md-6">
    <h2>Allokation</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render "nestable" %>
  </div>
  <div class="col-md-6">
    <div id="wp_show">
      <%= render "work_packages/show" %>
    </div>

    <div id="ram_form">
      <%= render "form" %>
    </div>
  </div>
</div>