<div class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <label class="control-label name thin"></label>
    </div>
  </div>
</div>