<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>
      <%= @project.name %> <small><%= @project.due %></small>
    </h1>
    <div>
      <span class="label label-info"><%= @project.user.email %></span>
    </div>
    <div>
      <%= @project.description %>
    </div>
  </div>
</div>