<div class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <label class="control-label name thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">gehört zu</label>
    <div class="col-sm-9">
      <label class="control-label work_breakdown_structure_name thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Start</label>
    <div class="col-sm-9">
      <label class="control-label start thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Ende</label>
    <div class="col-sm-9">
      <label class="control-label end thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Beschreibung</label>
    <div class="col-sm-9">
      <label class="control-label description thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Ziel</label>
    <div class="col-sm-9">
      <label class="control-label target thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Resourcen</label>
    <div class="col-sm-9">
      <label class="control-label resources thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Risiko</label>
    <div class="col-sm-9">
      <label class="control-label risk thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Kosten</label>
    <div class="col-sm-9">
      <label class="control-label cost thin"></label>
    </div>
  </div>
</div>