<div class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <label class="control-label resource_breakdown_structure_name thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Einsatzmittel</label>
    <div class="col-sm-9">
      <label class="control-label resource_breakdown_structure_resource thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Einsatzmittel Typ</label>
    <div class="col-sm-9">
      <label class="control-label resource_breakdown_structure_resource_type thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Anzahl</label>
    <div class="col-sm-9">
      <label class="control-label count thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Qualifikation</label>
    <div class="col-sm-9">
      <label class="control-label qualification_name thin"></label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Erfahrung</label>
    <div class="col-sm-9">
      <label class="control-label qualification_experience thin"></label>
    </div>
  </div>
</div>