/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require jquery.jOrgChart
 *= require prettify
 */

@import "bootstrap";

body { 
  padding-top: 70px; 
}

select option i {
  color: white;
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}

ol.vertical {
  margin: 0 0 9px 0;
  li.list-group-item {
    position: inherit;
  }
  li {
    display: block;
    margin: 5px;
    padding: 5px;
  }
  li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none;
    }
  }
}
