/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require jquery.jOrgChart
 *= require jquery.nestable
 *= require select2
 */

@import "bootstrap";

html {
  height: 101%;
}

body { 
  background-image: image-url("bg.png");
  background-repeat: repeat;
  padding-top: 70px;
}

.thumbnail-buttons {
  position: absolute; 
  bottom: 20px;
}

.row.main {
  margin-left: 0;
  margin-right: 0;
}

.text-muted a {
  color: #999999;
}

label.thin {
  font-weight: normal;
}

.tab-content {
  margin-top: 10px;
}

.btn {
  margin-bottom: 10px
}

#overlay { 
  display:none; 
  position:absolute; 
  background:#fff; 

  img {
    position:absolute; 
    top: 50%;
    left: 50%;
  }
}

#notice_div {
  z-index: 1060;
  position: fixed;
  bottom: 0px;
  margin-left: 20px;
}